// Main

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 80px;
    font-family: $font-montserrat;
    font-size: 14px;
    color: $color-dark;

    &.nav-mobile-is-open {
        overflow: hidden;
    }

    @include mq(tablet-wide, min) {
        font-size: 16px;
    }

    @include mq(desktop, min) {
        padding-top: 0;
    }
}

img {
    max-width: 100%;    
}

.grid {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.content-section {
    padding: 40px 0;

    @include mq(tablet, min) {
        padding: 60px 0;
    }

    @include mq(desktop, min) {
        padding: 80px 0;
    }

    &--small {
        padding: 40px 0;

        @include mq(desktop, min) {
            padding: 60px 0; 
        }
    }

    &--pink {
        background-color: #F3D4DC;

        + .portfolio {
            padding-top: 30px;
        }
    }

    &--pb-0 {
        padding-bottom: 0;
    }

    &--pt-0 {
        padding-top: 0;
    }
}

.offset-content-left,
.offset-content-right {

    @include mq(tablet-wide, min) {
        position: relative;
        z-index: 10;
    }
}

.offset-content-left {

    @include mq(tablet-wide, min) {
        margin-left: -100px;
    }
}

.offset-content-right {

    @include mq(tablet-wide, min) {
        margin-right: -200px;
    }
}