
extends  ../_skeleton

block title
  title="Блог"

block page

    //- Hero
    section.content-section--small.content-section--pt-0.hero
        .grid
            ul.breadcrumbs
                li.breadcrumbs__item
                    a(href="#").breadcrumbs__link Главная
                li.breadcrumbs__item Блог
            .hero__content
                h1 Блог салона красоты BeBeauty

    section
        .grid
            .row.middle-sm
                .col-xs-12.col-sm-6
                    img(src="img/blog-img.jpg" alt="")
                .col-xs-12.col-sm-6
                    .offset-content-left
                        h3 Маникюр в салоне или у мастера на дому? Какому варианту отдать предпочтение?
                        p Ornare quam viverra orci sagittis eu volutpat odio facilisis mauris. Commodo sed egestas egestas fringilla phasellus.
                        a(href="#").btn.btn--purple Читать дальше

    section.content-section--middle
        .grid
            .row
                .col-xs-12.col-sm-6.col-md-4
                    a(href="#").blog-item
                        span.blog-item__img
                            img(src="img/blog-img.jpg" alt="")
                        | Маникюр в салоне или у мастера на дому? Какому варианту отдать предпочтение?

                .col-xs-12.col-sm-6.col-md-4
                    a(href="#").blog-item
                        span.blog-item__img
                            img(src="img/blog-img.jpg" alt="")
                        | Маникюр в салоне или у мастера на дому? Какому варианту отдать предпочтение?

                .col-xs-12.col-sm-6.col-md-4
                    a(href="#").blog-item
                        span.blog-item__img
                            img(src="img/blog-img.jpg" alt="")
                        | Маникюр в салоне или у мастера на дому? Какому варианту отдать предпочтение?

                .col-xs-12.col-sm-6.col-md-4
                    a(href="#").blog-item
                        span.blog-item__img
                            img(src="img/blog-img.jpg" alt="")
                        | Маникюр в салоне или у мастера на дому? Какому варианту отдать предпочтение?

                .col-xs-12.col-sm-6.col-md-4
                    a(href="#").blog-item
                        span.blog-item__img
                            img(src="img/blog-img.jpg" alt="")
                        | Маникюр в салоне или у мастера на дому? Какому варианту отдать предпочтение?

                .col-xs-12.col-sm-6.col-md-4
                    a(href="#").blog-item
                        span.blog-item__img
                            img(src="img/blog-img.jpg" alt="")
                        | Маникюр в салоне или у мастера на дому? Какому варианту отдать предпочтение?

                        