
extends  ../_skeleton

block title
  title="Главная"

block page

    //- Hero
    section.hero
      .grid
        .js-slider
          .slider-box(data-thumb="Маникюр")
            .row
              .col-xs-12.col-sm-6
                .hero__content
                  .offset-content-right
                    h1 Огромная палитра цветов
                  p Наши мастера побалуют ваши ноготки классическим маникюром или художественной росписью, помогут подобрать рисунок и оптимальную длину для наращивания.
                  a(href="#").btn Запись онлайн

              .col-xs-12.col-sm-6.first-xs.last-sm
                img(src="img/hero-img.png" alt="")

          .slider-box(data-thumb="Педикюр")
            .row
              .col-xs-12.col-sm-6
                .hero__content
                  .offset-content-right
                    h1 Огромная палитра цветов
                  p Наши мастера побалуют ваши ноготки классическим маникюром или художественной росписью, помогут подобрать рисунок и оптимальную длину для наращивания.
                  a(href="#").btn Запись онлайн

              .col-xs-12.col-sm-6.first-xs.last-sm
                img(src="img/hero-img.png" alt="")

          .slider-box(data-thumb="Мастера")
            .row
              .col-xs-12.col-sm-6
                .hero__content
                  .offset-content-right
                    h1 Огромная палитра цветов
                  p Наши мастера побалуют ваши ноготки классическим маникюром или художественной росписью, помогут подобрать рисунок и оптимальную длину для наращивания.
                  a(href="#").btn Запись онлайн

              .col-xs-12.col-sm-6.first-xs.last-sm
                img(src="img/hero-img.png" alt="")

          .slider-box(data-thumb="Покрытие гель-лак")
            .row
              .col-xs-12.col-sm-6
                .hero__content
                  .offset-content-right
                    h1 Огромная палитра цветов
                  p Наши мастера побалуют ваши ноготки классическим маникюром или художественной росписью, помогут подобрать рисунок и оптимальную длину для наращивания.
                  a(href="#").btn Запись онлайн

              .col-xs-12.col-sm-6.first-xs.last-sm
                img(src="img/hero-img.png" alt="")

        .slider-controll.js-slider-controll

    //- Advantages
    include ../parts/_advantages

    section.content-section
      .grid
        .row.middle-sm
          .col-xs-12.col-sm-6
            .offset-content-right
              h2.h1 Студия маникюра beBeauty
                span.title-additional Побалуйте свои ногти качественным уходом! 

              img(src="img/home-img-01.png" alt="").hidden-tablet

              p Как же хочется иметь ухоженные ноготки, любоваться аккуратным маникюром и педикюром, восхищаться качеством работы и приемлемой ценой! Но как сложно найти профессионального мастера, который работает с хорошими материалами и окружит ваши пальчики требуемой заботой! В нашей студии маникюра BeBeauty это отлично понимают.

              p Поэтому мы создали уютное место в самом сердце Чернигова для всех представительниц прекрасного пола. Наши мастера побалуют ваши ноготки классическим маникюром или художественной росписью, помогут подобрать рисунок и оптимальную длину для наращивания.

              a(href="#").btn.btn--transparent Подробнее

          .col-xs-12.col-sm-6.hidden-mobile
            img(src="img/home-img-01.png" alt="")

    //- Services
    include ../parts/_services

    //- Portfolio
    include ../parts/_portfolio

    //- Reviews
    include ../parts/_reviews

    //- Map
    include ../parts/_map

    //- Footer text
    include ../parts/_footer-text