
extends  ../_skeleton

block title
  title="Цены"

block page

    //- Hero
    section.hero
      .grid
        .row
          .col-xs-12.col-sm-6
            ul.breadcrumbs
              li.breadcrumbs__item
                a(href="#").breadcrumbs__link Главная
              li.breadcrumbs__item Цены
            .hero__content
              .offset-content-right
                h1 Цены на услуги в студии BeBeauty
              p Хотите иметь ухоженные руки и ноги, но боитесь, что эта статья расходов значительно ударит по бюджету? BeBeauty предлагает по выгодным ценам маникюр и педикюр классический и аппаратный, покрытие и наращивание биогелем. Все процедуры высокого качества, обслуживание и профессионализм мастеров — на высшем уровне. Чтобы убедиться в этом самим, достаточно ознакомиться с ценами на все услуги студии, приведенными в таблице.

          .col-xs-12.col-sm-6
            img(src="img/services-hero-img.png" alt="")

    section.content-section
      .grid
        .js-slider
          .slider-box(data-thumb="Маникюр")
            .row
              .col-xs-12.col-sm-6
                h2 Покрытие гель-лаком, гелем, лаком

              .col-xs-12.col-sm-6
                table.text-table
                  tr.text-table__offset
                      th 
                          b.text--pink Услуга
                      th 
                          b.text--pink Цена

                  tr 
                      td
                          b Покрытие гель лаком:
                      td

                  tr 
                      td однотонное
                      td
                          b 170 грн.

                  tr
                      td френч, антифренч, лунный
                      td
                          b 190 грн.

                  tr.text-table__offset
                      td френч + лунный
                      td
                          b 200 грн.

                  tr.text-table__offset 
                      td 
                          b Покрытие «кошачий глаз»
                      td
                          b 170 грн.

                  tr.text-table__offset 
                      td 
                          b Снятие гель-лака
                      td
                          b 40 грн.

                  tr 
                      td 
                          b Дизайн 1 ногтя
                      td
                          b От 5 грн.

                  tr 
                      td Градиент(10 ногтей/1ноготь)
                      td
                          b 200/20 грн.

                  tr 
                      td Стемпинг(10 ногтей/1ноготь)
                      td
                          b 100/10 грн.

                  tr 
                      td Стразы Сваровски
                      td
                          b от 1 грн. 

                  tr 
                      td Инкрустация всего ногтя
                      td
                          b 30 грн.

          .slider-box(data-thumb="Педикюр")
            .row
              .col-xs-12.col-sm-6
                h2 Покрытие гель-лаком, гелем, лаком

              .col-xs-12.col-sm-6
                table.text-table
                  tr.text-table__offset
                      th 
                          b.text--pink Услуга
                      th 
                          b.text--pink Цена

                  tr 
                      td
                          b Покрытие гель лаком:
                      td

                  tr 
                      td однотонное
                      td
                          b 170 грн.

                  tr
                      td френч, антифренч, лунный
                      td
                          b 190 грн.

                  tr.text-table__offset
                      td френч + лунный
                      td
                          b 200 грн.

                  tr.text-table__offset 
                      td 
                          b Покрытие «кошачий глаз»
                      td
                          b 170 грн.

                  tr.text-table__offset 
                      td 
                          b Снятие гель-лака
                      td
                          b 40 грн.

                  tr 
                      td 
                          b Дизайн 1 ногтя
                      td
                          b От 5 грн.

                  tr 
                      td Градиент(10 ногтей/1ноготь)
                      td
                          b 200/20 грн.

                  tr 
                      td Стемпинг(10 ногтей/1ноготь)
                      td
                          b 100/10 грн.

                  tr 
                      td Стразы Сваровски
                      td
                          b от 1 грн. 

                  tr 
                      td Инкрустация всего ногтя
                      td
                          b 30 грн.

          .slider-box(data-thumb="Покрытие гель-лак")
            .row
              .col-xs-12.col-sm-6
                h2 Покрытие гель-лаком, гелем, лаком

              .col-xs-12.col-sm-6
                table.text-table
                  tr.text-table__offset
                      th 
                          b.text--pink Услуга
                      th 
                          b.text--pink Цена

                  tr 
                      td
                          b Покрытие гель лаком:
                      td

                  tr 
                      td однотонное
                      td
                          b 170 грн.

                  tr
                      td френч, антифренч, лунный
                      td
                          b 190 грн.

                  tr.text-table__offset
                      td френч + лунный
                      td
                          b 200 грн.

                  tr.text-table__offset 
                      td 
                          b Покрытие «кошачий глаз»
                      td
                          b 170 грн.

                  tr.text-table__offset 
                      td 
                          b Снятие гель-лака
                      td
                          b 40 грн.

                  tr 
                      td 
                          b Дизайн 1 ногтя
                      td
                          b От 5 грн.

                  tr 
                      td Градиент(10 ногтей/1ноготь)
                      td
                          b 200/20 грн.

                  tr 
                      td Стемпинг(10 ногтей/1ноготь)
                      td
                          b 100/10 грн.

                  tr 
                      td Стразы Сваровски
                      td
                          b от 1 грн. 

                  tr 
                      td Инкрустация всего ногтя
                      td
                          b 30 грн.

        .slider-controll.slider-controll--offset.slider-controll--center.js-slider-controll