
extends  ../_skeleton

block title
  title="Услуга"

block page

    //- Hero
    section.hero
      .grid
        .row
          .col-xs-12.col-sm-6
            .hero__content
                ul.breadcrumbs
                    li.breadcrumbs__item
                        a(href="#").breadcrumbs__link Главная
                    li.breadcrumbs__item
                        a(href="#").breadcrumbs__link Услуги
                    li.breadcrumbs__item Покрытие ногтей на ногах и руках
                .offset-content-right
                    h1 Покрытие ногтей на ногах и руках
                p Выбирая цвет лака для ногтей на руках и ногах, мы ищем еще один способ самовыразиться, рассказать окружающим о своем настроении и намерениях. Например, любительницы классики отдают предпочтение френч-маникюру. Любительницы экспериментов выбирают лунный дизайн и ней-арт в технике омбре, а также сочные яркие цвета. 

          .col-xs-12.col-sm-6
            img(src="img/services-hero-img.png" alt="")

    section.content-section.content-section--pb-0
      .grid
        .row
          .col-xs-12.col-sm-6
            p.text--large.text--pink 
                b Мы в салоне красоты BeBeauty знаем, что женское настроение непостоянно и дамам всегда хочется попробовать что-то новое.  и ножки в порядок — мы ждем вас в студии маникюра BeBeauty.
            p.text--large Поэтому предлагаем своим посетителям попробовать последние новинки nail-дазийна. В нашей палитре вы непременно найдете те цвета, которые подойдут вашему образу, выразят ваше настроение и послание окружающим.

          .col-xs-12.col-sm-6
            table.text-table
                tr.text-table__offset
                    th 
                        b.text--pink Услуга
                    th 
                        b.text--pink Цена

                tr 
                    td
                        b Покрытие гель лаком:
                    td

                tr 
                    td однотонное
                    td
                        b 170 грн.

                tr
                    td френч, антифренч, лунный
                    td
                        b 190 грн.

                tr.text-table__offset
                    td френч + лунный
                    td
                        b 200 грн.

                tr.text-table__offset 
                    td 
                        b Покрытие «кошачий глаз»
                    td
                        b 170 грн.

                tr.text-table__offset 
                    td 
                        b Снятие гель-лака
                    td
                        b 40 грн.

                tr 
                    td 
                        b Дизайн 1 ногтя
                    td
                        b От 5 грн.

                tr 
                    td Градиент(10 ногтей/1ноготь)
                    td
                        b 200/20 грн.

                tr 
                    td Стемпинг(10 ногтей/1ноготь)
                    td
                        b 100/10 грн.

                tr 
                    td Стразы Сваровски
                    td
                        b от 1 грн. 

                tr 
                    td Инкрустация всего ногтя
                    td
                        b 30 грн.

    section.content-section
      .grid
        .row
          .col-xs-12.col-sm-6
            p.text--pink 
                b Мы поможем выбрать лучший вариант нейл-арта для вас:
            ol.text-list
              li Если вы не любите часто перекрашивать ногти и вам нужно долговременное покрытие — выбирайте гель — лак. До трех недель ваши ногти будут выглядеть свежо, ухоженно, а покрытие останется целым и блестящим.
              li Нужно привлечь внимание на предстоящем мероприятии и смело заявить о себе? Тогда яркое покрытие идеально для вас!
              li Модным леди, которые хотят создать стильный образ подойдет лунный маникюр или покрытие в стиле омбре.

          .col-xs-12.col-sm-6
            p.text--large Если вы хотите, чтобы вашим пальчикам обеспечили бережный и профессиональный уход, мечтаете наслаждаться красотой своих пальчиков долго, не хотите переплачивать за проделанные процедуры — обращайтесь в студию маникюра BeBeauty.

    //- Portfolio
    include ../parts/_portfolio

    //- Reviews
    include ../parts/_reviews

    //- Map
    include ../parts/_map

    //- Footer text
    include ../parts/_footer-text