section.advantages
    .grid
        .advantages__box
            .advantages-item
                img(src="img/advantages-icon-01.svg" alt="")
                span Высокий уровень <br> обслуживания

            .advantages-item
                img(src="img/advantages-icon-02.svg" alt="")
                span Качественные <br> расходные материалы

            .advantages-item
                img(src="img/advantages-icon-03.svg" alt="")
                span Удобное <br> расположение

            .advantages-item
                img(src="img/advantages-icon-04.svg" alt="")
                span Доступные цены

            .advantages-item
                img(src="img/advantages-icon-05.svg" alt="")
                span Правильная <br> дизинфекация и <br> стерилизация