section.content-section.certificates
    .grid
        .js-slider
            .slider-box(data-thumb="150")
                .row.middle-sm
                    .col-xs-12.col-sm-5
                        img(src="img/certificate-450.jpg" alt="")
                    .col-xs-12.col-sm-6.col-sm-offset-1
                        h2 Сертификат номиналом 150 грн.
                        a(href="#").btn.btn--purple Заказать

            .slider-box(data-thumb="200")
                .row.middle-sm
                    .col-xs-12.col-sm-5
                        img(src="img/certificate-450.jpg" alt="")
                    .col-xs-12.col-sm-6.col-sm-offset-1
                        h2 Сертификат номиналом 200 грн.
                        a(href="#").btn.btn--purple Заказать

            .slider-box(data-thumb="250")
                .row.middle-sm
                    .col-xs-12.col-sm-5
                        img(src="img/certificate-450.jpg" alt="")
                    .col-xs-12.col-sm-6.col-sm-offset-1
                        h2 Сертификат номиналом 250 грн.
                        a(href="#").btn.btn--purple Заказать

            .slider-box(data-thumb="350")
                .row.middle-sm
                    .col-xs-12.col-sm-5
                        img(src="img/certificate-450.jpg" alt="")
                    .col-xs-12.col-sm-6.col-sm-offset-1
                        h2 Сертификат номиналом 350 грн.
                        a(href="#").btn.btn--purple Заказать

            .slider-box(data-thumb="450")
                .row.middle-sm
                    .col-xs-12.col-sm-5
                        img(src="img/certificate-450.jpg" alt="")
                    .col-xs-12.col-sm-6.col-sm-offset-1
                        h2 Сертификат номиналом 450 грн.
                        a(href="#").btn.btn--purple Заказать

        p.certificates__description У нас есть сертификаты других номиналов:
        .slider-controll.slider-controll--center.js-slider-controll