// footer
footer.footer

    .header-main
        .grid
            .header-main__box
                a(href="#").header-logo
                    img(src="img/logo.svg" alt="Site logo")
                nav.header-nav
                    ul.header-nav__list
                        li.header-nav__item
                            a(href="#").header-nav__link Главная
                        li.header-nav__item
                            a(href="#").header-nav__link Услуги
                        li.header-nav__item
                            a(href="#").header-nav__link Цены
                        li.header-nav__item
                            a(href="#").header-nav__link Блог
                        li.header-nav__item
                            a(href="#").header-nav__link Акции
                        li.header-nav__item
                            a(href="#").header-nav__link Контакты

                .header-call
                    a(href="#").header-call__phone
                        span.icon-kievstar
                        | 068 810 22 29
                        span.icon-arrow-down
                    button.header-call__btn.btn Запись онлайн

    .footer-copyright
        .grid
            .footer-copyright__box
                span © COPYRIGHT 2019 BEBEAUTY
                span 
                    | Разработано в 
                    a(href="#") WebResident Team
