// header
header.header
    .header-top
        .grid
            .header-top__box
                .header-info
                    span.header-info__item 
                        span.icon-address
                        | г. Чернигов, проспект Победы, 139; 3 этаж, офис 307
                    span.header-info__item 
                        span.icon-time
                        | Без выходных с 9:00 до 21:00

                .header-social
                    .header-social__title Мы на связи!
                    ul.header-social__list
                        li
                            a(href="#") 
                                img(src="img/icon-facebook.svg" alt="Facebook")
                        li
                            a(href="#")
                                img(src="img/icon-instagram.svg" alt="Instagram")

    .header-main
        .grid
            .header-main__box
                a(href="#").header-logo
                    img(src="img/logo.svg" alt="Site logo")
                nav.nav
                    ul.nav__list
                        li.nav__item
                            a(href="#").nav__link Главная
                        li.nav__item
                            a(href="#").nav__link Услуги
                        li.nav__item
                            a(href="#").nav__link Цены
                        li.nav__item
                            a(href="#").nav__link Блог
                        li.nav__item
                            a(href="#").nav__link Акции
                        li.nav__item
                            a(href="#").nav__link Контакты

                .call
                    .call__phone
                        a(href="tel:+380688102229").call__link
                            span.call__icon.icon-kievstar
                            | 068 810 22 29
                        button.call__arrow.js-phone
                            span.icon-arrow-down
                        .call__box
                            a(href="tel:+380730562229").call__link
                                span.call__icon.icon-life
                                | 073 056 22 29
                            a(href="tel:+380990342229").call__link
                                span.call__icon.icon-vodofone
                                | 099 034 22 29
                    button(data-popup="sign-in").call__btn.btn.js-popup-open Запись онлайн

                button.nav-btn.js-nav-btn
                    span

                .header-mobile
                    .grid
                        nav.nav
                            ul.nav__list
                                li.nav__item
                                    a(href="#").nav__link Главная
                                li.nav__item
                                    a(href="#").nav__link Услуги
                                li.nav__item
                                    a(href="#").nav__link Цены
                                li.nav__item
                                    a(href="#").nav__link Блог
                                li.nav__item
                                    a(href="#").nav__link Акции
                                li.nav__item
                                    a(href="#").nav__link Контакты

                        .call
                            button(data-popup="sign-in").call__btn.btn.js-popup-open Запись онлайн

                        .header-top__box
                            .header-info
                                span.header-info__item 
                                    span.icon-address
                                    | г. Чернигов, проспект Победы, 139; 3 этаж, офис 307
                                span.header-info__item 
                                    span.icon-time
                                    | Без выходных с 9:00 до 21:00

                            .header-social
                                .header-social__title Мы на связи!
                                ul.header-social__list
                                    li
                                        a(href="#") 
                                            img(src="img/icon-facebook.svg" alt="Facebook")
                                    li
                                        a(href="#")
                                            img(src="img/icon-instagram.svg" alt="Instagram")

