// header
header.header
    .header-top
        .grid
            .header-top__box
                .header-info
                    span.header-info__item 
                        span.icon-address
                        | г. Чернигов, проспект Победы, 139; 3 этаж, офис 307
                    span.header-info__item 
                        span.icon-time
                        | Без выходных с 9:00 до 21:00

                .header-social
                    .header-social__title Мы на связи!
                    ul.header-social__list
                        li
                            a(href="#") 
                                img(src="img/icon-facebook.svg" alt="Facebook")
                        li
                            a(href="#")
                                img(src="img/icon-instagram.svg" alt="Instagram")

    .header-main
        .grid
            .header-main__box
                a(href="#").header-logo
                    img(src="img/logo.svg" alt="Site logo")
                nav.header-nav
                    ul.header-nav__list
                        li.header-nav__item
                            a(href="#").header-nav__link Главная
                        li.header-nav__item
                            a(href="#").header-nav__link Услуги
                        li.header-nav__item
                            a(href="#").header-nav__link Цены
                        li.header-nav__item
                            a(href="#").header-nav__link Блог
                        li.header-nav__item
                            a(href="#").header-nav__link Акции
                        li.header-nav__item
                            a(href="#").header-nav__link Контакты

                .header-call
                    a(href="#").header-call__phone 
                        span.icon-kievstar
                        | 068 810 22 29
                        span.icon-arrow-down
                    button.header-call__btn.btn Запись онлайн
