.popup
    .popup__box#sign-in
        button.popup__close.js-popup-close
        h3 Запись онлайн
        form.form(action="")
            .form__item
                input(type="text" placeholder="Ваше Имя")
            .form__item
                input(type="text" placeholder="Номер телефона")
            .form__item 
                input(type="text" placeholder="Желаемое время")
            .form__item 
                input(type="submit" value="Записаться").btn.btn--purple