section.portfolio
    .portfolio__row-box
        .grid.portfolio__info-box
            .portfolio__info
                .portfolio__info-title Наши работы
                .portfolio__info-description Смотри больше в Instagram
                a(href="#").btn.btn--purple @bebeauty_in_ua
        .portfolio__row
            .portfolio__item
                a(href="#")
                    img(src="img/portfolio-img-01.jpg" alt="")
            .portfolio__item
                a(href="#")
                    img(src="img/portfolio-img-02.jpg" alt="")
            .portfolio__item
                a(href="#")
                    img(src="img/portfolio-img-01.jpg" alt="")
            .portfolio__item
                a(href="#")
                    img(src="img/portfolio-img-02.jpg" alt="")
            .portfolio__item
                a(href="#")
                    img(src="img/portfolio-img-01.jpg" alt="")
            .portfolio__item
                a(href="#")
                    img(src="img/portfolio-img-02.jpg" alt="")
            .portfolio__item
                a(href="#")
                    img(src="img/portfolio-img-01.jpg" alt="")
            .portfolio__item
                a(href="#")
                    img(src="img/portfolio-img-02.jpg" alt="")
            .portfolio__item
                a(href="#")
                    img(src="img/portfolio-img-01.jpg" alt="")
            .portfolio__item
                a(href="#")
                    img(src="img/portfolio-img-02.jpg" alt="")
    .portfolio__row
        .portfolio__item
            a(href="#")
                img(src="img/portfolio-img-01.jpg" alt="")
        .portfolio__item
            a(href="#")
                img(src="img/portfolio-img-02.jpg" alt="")
        .portfolio__item
            a(href="#")
                img(src="img/portfolio-img-01.jpg" alt="")
        .portfolio__item
            a(href="#")
                img(src="img/portfolio-img-02.jpg" alt="")
        .portfolio__item
            a(href="#")
                img(src="img/portfolio-img-01.jpg" alt="")
        .portfolio__item
            a(href="#")
                img(src="img/portfolio-img-02.jpg" alt="")
        .portfolio__item
            a(href="#")
                img(src="img/portfolio-img-01.jpg" alt="")
        .portfolio__item
            a(href="#")
                img(src="img/portfolio-img-02.jpg" alt="")
        .portfolio__item
            a(href="#")
                img(src="img/portfolio-img-01.jpg" alt="")
        .portfolio__item
            a(href="#")
                img(src="img/portfolio-img-02.jpg" alt="")