section.reviews.content-section
    .grid
        h2.text-center Что говорят о нас клиенты
        .reviews__box.js-slider
            .slider-box
                .row
                    .col-sm-6
                        .reviews__description
                            p.
                                Крутой интерьер, в котором невозможно не почувствовать себя голливудской звездой! Особенно хочу отметить чистоту в студии, опрятность и внимательность мастеров.
                        .reviews__author
                            img(src="img/review-img.png" alt="")
                            span Виктория

                    .col-sm-6
                        blockquote.reviews__quote
                            p.
                                С недавних пор стала постоянной клиенткой cтудии beBeauty. Крутой интерьер, в котором невозможно не почувствовать себя голливудской звездой! Особенно хочу отметить чистоту в студии, опрятность и внимательность мастеров. Угощают диетическими вкусняшками и кофе, это так мило и приятно)) Да,это хоть и мелочь, но далеко не каждый салон так любит и балует своих клиентов. <br>
                                Видно что владельцы заботятся о самом салоне, мастерах и особенно о клиентах. Все инструменты проходят обработку, о которой мастер маникюра без проблем расскажет) К Вам хочется возвращаться вновь и вновь за красотой и хорошим настроением=)))
            .slider-box
                .row
                    .col-sm-6
                        .reviews__description
                            p.
                                Крутой интерьер, в котором невозможно не почувствовать себя голливудской звездой! Особенно хочу отметить чистоту в студии, опрятность и внимательность мастеров.
                        .reviews__author
                            img(src="img/review-img.png" alt="")
                            span Виктория

                    .col-sm-6
                        blockquote.reviews__quote
                            p.
                                С недавних пор стала постоянной клиенткой cтудии beBeauty. Крутой интерьер, в котором невозможно не почувствовать себя голливудской звездой! Особенно хочу отметить чистоту в студии, опрятность и внимательность мастеров. Угощают диетическими вкусняшками и кофе, это так мило и приятно)) Да,это хоть и мелочь, но далеко не каждый салон так любит и балует своих клиентов. <br>
                                Видно что владельцы заботятся о самом салоне, мастерах и особенно о клиентах. Все инструменты проходят обработку, о которой мастер маникюра без проблем расскажет) К Вам хочется возвращаться вновь и вновь за красотой и хорошим настроением=)))