section.content-section.content-section--pink.services
    .grid
        .js-slider
            .slider-box(data-thumb="Классический маникюр")
                .row.middle-sm
                    .col-xs-12.col-sm-7
                        img(src="img/home-img-02.png" alt="")

                    .col-xs-12.col-sm-5
                        .offset-content-left
                            h2 Классический маникюр
                            p Классический маникюр — популярный метод ухода за ногтями. Его часто называют «мокрым», обрезным, и он лежит в основе остальных видов маникюра, выполнения нейл-дизайна или покрытия.
                            .btn-box
                                a(href="#").btn.btn--purple Подробнее
                                span.btn-price от 150 грн.

            .slider-box(data-thumb="Аппаратный маникюр")
                .row.middle-sm
                    .col-xs-12.col-sm-7
                        img(src="img/home-img-02.png" alt="")

                    .col-xs-12.col-sm-5
                        .offset-content-left
                            h2 Классический маникюр
                            p Классический маникюр — популярный метод ухода за ногтями. Его часто называют «мокрым», обрезным, и он лежит в основе остальных видов маникюра, выполнения нейл-дизайна или покрытия.
                            .btn-box
                                a(href="#").btn.btn--purple Подробнее
                                span.btn-price от 150 грн.

            .slider-box(data-thumb="Мастера")
                .row.middle-sm
                    .col-xs-12.col-sm-7
                        img(src="img/home-img-02.png" alt="")

                    .col-xs-12.col-sm-5
                        .offset-content-left
                            h2 Классический маникюр
                            p Классический маникюр — популярный метод ухода за ногтями. Его часто называют «мокрым», обрезным, и он лежит в основе остальных видов маникюра, выполнения нейл-дизайна или покрытия.
                            .btn-box
                                a(href="#").btn.btn--purple Подробнее
                                span.btn-price от 150 грн.

        .slider-controll.slider-controll--white.js-slider-controll