// Sertificates

.certificates {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 34.25%, #FFFFFF 100%), #F3D4DC;

    + .reviews {
        padding-top: 0;
    }

    img {
        margin-bottom: 30px;

        @include mq(tablet, min) {
            margin-bottom: 0;
        }
    }

    &__description {
        padding-top: 40px;
        margin-bottom: 20px;
        font-size: 18px;
        text-align: center;
    }
}