// Footer

.footer {

}

.footer-logo {
    display: inline-block;
    margin-bottom: 30px;

    @include mq(desktop, min) {
        margin-bottom: 0;
    }
}

.footer-main {
    padding: 15px 0;

    &__box {

        @include mq(desktop, min) {
            display: flex;
            align-items: center;
        } 
    }
}

.footer-copyright {
    padding: 15px 0;
    border-top: 1px solid #F5F5F5;

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        font-weight: 500;
        color: #999;
    }

    a {
        color: #999;
    }
}