// Header

.header {
  margin-bottom: 30px;
  position: fixed;
  z-index: 100;
  background-color: #fff;
  left: 0;
  top: 0;
  width: 100%;

  @include mq(desktop, min) {
    position: relative;
  }

  .nav {
      display: none;

      @include mq(desktop, min) {
          display: flex;
      }
  }

  .call__btn {
      display: none;

      @include mq(tablet, min) {
        display: flex;
    }
  }
}

.header-top {
    display: none;
    padding: 15px 0;
    font-size: 12px;
    border-bottom: 1px solid #F5F5F5;
    color: #999;

    @include mq(desktop, min) {
        display: block;
    }

    &__box {

        @include mq(tablet-wide, min) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.header-info {
    display: flex;

    &__item {
        display: flex;
        width: 50%;
        letter-spacing: 0.3px;
        font-size: 12px;
        margin-bottom: 15px;

        @include mq(tablet-wide, min) {
            margin-bottom: 0;
        }

        @include mq(tablet-wide, min) {
            width: auto;
            font-size: 14px;
        }

        [class^="icon-"] {
            margin-right: 10px;
            font-size: 14px;
        }

        &:not(:last-child) {

            @include mq(tablet-wide, min) {
                margin-right: 30px;
            }
        }
    }
}

.header-social {
    display: flex;
    align-items: center;

    &__title {
        margin-right: 15px;
    }

    &__list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 0;

        li {

            &:not(:last-child) {
                margin-right: 15px;
            }
        }
    }
}

.header-main {
    padding: 15px 0;

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.header-mobile {
    display: none;
    overflow: auto;
    padding-bottom: 40px;
    position: fixed;
    left: 0;
    top: 78px;
    bottom: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;

    .nav-mobile-is-open & {
        display: block;
    }

    .nav {
        display: flex;
    }

    .call__btn {
        margin-bottom: 30px;
        display: block;
    }
}