// Hero

.hero {

    &__content {

        @include mq(tablet, min) {
            position: relative;
            padding-top: 40px;
        }

        @include mq(desktop, min) {
            position: relative;
            padding-top: 80px;
        }
    }
    
    img {
        width: 100%;
    }
}