// Article

.article {

    img {
        margin-bottom: 30px;
    }

    strong,
    b {
        color: #E1B0C4;
        font-weight: 500;
    }

    h5,
    p,
     {
        margin-bottom: 20px;

        @include mq(tablet-wide, min) {
            margin-bottom: 30px;
        }
    }
}