// Blog

.blog-item {
    text-decoration: none;
    display: block;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 700;
    color: #333;

    @include mq(tablet, min) {
        margin-bottom: 60px;
    }

    &:hover {
        color: #E1B0C4;
    }

    &__img {
        display: block;
        margin-bottom: 20px;
    }
}