// Call

.call {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq(tablet, min) {
        margin-left: auto;
    }

    &__phone {
        position: relative;
        display: inline-block;
      
        @include mq(tablet, min) {
            margin-right: 50px;
        }
    }

    &__box {
        opacity: 0;
        z-index: -10;
        position: absolute;
        left: 0;
        width: 100%;
        transition: .3s;
        transform: translate(0, -20px);

        .is-active & {
            opacity: 1;
            z-index: 200;
            transform: translate(0, 0);
        }

        .call__link {
            display: block;
            width: 100%;
            background-color: #fff;
            padding-bottom: 10px;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    &__link {
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
        color: $color-dark;
    }

    &__icon {
        margin-right: 10px;
    }

    &__arrow {
        outline: none;
        border: none;
        background-color: transparent;
        padding: 10px;
    }
}