// Slider

.slider-controll {
    display: flex;
    align-items: center;
    color: #ccc;

    .hero & {
        padding-top: 60px;

        @include mq(tablet, min)  {
            padding-top: 0;
        }
    }

    &--white {
        color: #fff;
    }

    &--offset {
        padding-top: 60px;
    }

    &--center {
        justify-content: center;
    }

    .slick-arrow {
        font-size: 10px;
        line-height: 1.6;
        cursor: pointer;

        &:hover {
            color: #333;
        }
    }

    .slick-dots {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0 10px;
        list-style: none;

        li {
            margin: 3px 10px 3px;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            cursor: pointer;
        }

        .slider-dot {
            display: block;
            width: 20px;
            height: 2px;
            background-color: #E5E5E5;
        }

        .slick-active {
            color: #333;
         
            .slider-dot {
                background-color: #F391B1;
            }
        }
    }

    .icon-arrow-right {
        order: 3;
    }
}